*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

body{
    background-color: black;
}

/* HEADER */

.flex{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

header{
    margin-top: 16px;
    width: 1200px;
    margin: auto;
}

.logo{
    height: 50px;
    width: auto;
}

.divIcons{
    gap: 20px;
}

.iconLoupe{
    height: 22px;
    width: auto;
    margin: 2px 2px 0px 0;
}

nav{
    gap: 40px;
}

/* DEBUT ANIMATION MENU NAV  */
nav a{
    position: relative;
    font-weight: bold;
}

nav a:hover{
    color: sandybrown;
    transition: 0,9s;
}

nav a:after{
    content: "";
    position: absolute;
    left: 50%;
    top: 23px;
    transform: translateX(-50%) scaleX(0);
    -webkit-transform: translateX(-50%) scaleX(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    width: 100%;
    height: 2px;
    background-color: white;
    -webkit-transition: transform 250ms;
    transition: transform 250ms;
}

nav a:hover:after{
    -webkit-transform: translateX(-50%) scaleX(1);
    transform: translateX(-50%) scaleX(1);

} /* FIN ANIMATION MENU NAV  */


.divLivraison{
    margin-bottom: 10px;
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #181818;
    font-weight: bold;
    font-size: x-small;
    text-transform: uppercase;
    box-shadow: 0px 2px 2px #181818;
}

/* MAIN PAGE 1*/

main{
    width: 1200px;
    margin: auto;
}

.videoAccueil{
left: 75px;
top: 103px;
position: absolute;
width: 1200px;
height: auto;
}

.p1{
position: absolute;
color: black;
left: 180px;
top: 1090px;
font-size: 28px;
font-weight: bold;
/* font-family: 'Almarai', sans-serif; */
}

.p2{
    position: absolute;
    color: black;
    left: 720px;
    top: 1560px;
    font-size: 28px;
    font-weight: bold;
    /* font-family: 'Almarai', sans-serif; */
    }

.une, .div2, .containerFooter{
    width: 1200px;
    margin: auto;
}

.une{
    margin-top: 575px;
}

.deux{
    width: 357px;
    height: 520px;
    margin-top: 20px;
    margin-bottom: 60px;
}

.trois{
    width: 820px;
    height: 520px;  
    margin-top: 20px;
    margin-bottom: 60px;
}

/* MAIN PAGE 2 */

.pCollection{
    font-weight: bold;
    margin: 100px 0 30px 0;
}

.imgCarre{
    width: 347px;
    height: 308px;
    object-fit: cover;
}

figure{
    padding-bottom: 80px;
}

figcaption{
    margin-top: 10px;
}

span{
    color: tan;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    top: 5px;

}

/* MAIN PAGE 3 */

.imgChemiseBlc{
    height: 480px;
    width: 385px;
    object-fit: cover;
}

.containerProduit{
    padding-top: 45px;
}

.nomProduit{
font-weight: bold;
font-size: 17px;
color: white;
}

.pDescription{
    padding: 0px 15px 5px 0px;
}

.videoChemise{
    height: 480px;
    width: auto;
    right: 483px;
}

/* FOOTER */

.miniDivFooter1, .miniDivFooter2{
    height: 100px;
    display: flex;
    flex-direction: column;
    margin : 50px 0 80px 0;
}

.miniDivFooter1 img{
    height: 25px;
    width: auto;
    padding-top: 20px;
}

.miniDivFooter2{
    justify-content: space-between;
}

.copyright{
    font-size: x-small;
    text-align: center;
    margin: 0 0 15px 0;
}